@{
    ViewBag.Title = "New task";
    Layout = "_Layout";
}

<h2>New task</h2>

<form type="submit" method="post" action="New">
    <label>Title</label>
    <input type="text" name="Title"/>
    <label>JiraId</label>
    <input type="text" name="JiraId"/>
    <br/>
    <input type="submit" value="Add"/>
</form>
>